{% extends "commons/base.html" %}

{% block content %}
	      <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
         <div class="container-fluid">
            <div class="form-head d-flex mb-3 align-items-start">

               <div class="me-auto d-none d-lg-block">
                  <h2 class="text-primary font-w600 mb-0">Dashboard</h2>
                  <p class="mb-0">Welcome to Inventorius Admin!</p>
               </div>
             </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
{% endblock %}