{% extends "commons/base.html" %}

{% block content %}
{% load c_replace %}
	      <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
         <div class="container-fluid">
            <div class="row page-titles">
              <ol class="action-box">
                <li class="action-item"><a href="javascript:void(0)"><button type="button" class="btn mb-2" data-bs-toggle="modal" data-bs-target="#analyzeModal">Analyze</button></a></li>
              </ol>
            </div>
             <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">IP Table</h4>
                            </div>
                            <div class="summary">
                                <h6 class="card-title">Total Unique IP Count: {{ ip_count|length }}</h6>
                            </div>
                            <div class="summary">
                                <h6 class="card-title">Total Analyzed Subnet Count: {{ subnet_count|length }}</h6>
                            </div>
                            <div class="summary">
                                <h6 class="card-title">Total DNS Count: {{ dns_count|length }}</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example2" class="display" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>DNS</th>
                                                <th>IP</th>
                                                <th>SUBNET</th>
                                                <th>PORT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ip in ips %}                                         
                                            <tr>
                                                <td>{{ ip.dns }}</td>
                                                <td>{{ ip.ip }}</td>
                                                <td>{% for sub in ip.subnet.all %}{{ sub }}<br/>{% endfor %}</td>
                                                <td>{{ ip.port | c_replace }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>DNS</th>
                                                <th>IP</th>
                                                <th>SUBNET</th>
                                                <th>PORT</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <div class="modal fade" id="analyzeModal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Subnet Analyze</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="">
                                {% csrf_token %}
                                <!--{{ form.as_p }}-->
                                {% for field in form %}
                                    <div class="mb-3 row">
                                        {{ field.errors }}
                                        <label class="col-sm-3 col-form-label">{{ field.label_tag }}</label>
                                        <div class="col-sm-9">
                                            {{ field }}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                                    {% if task_status == 'running' %}
                                    <button type="submit" disabled="true" class="btn btn-primary">Start Analyze</button>
                                    {% else %}
                                    <button type="submit" class="btn btn-primary">Start Analyze</button>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
{% endblock %}