.card .summary{
	border-color: #f0f1f5;
    position: relative;
    background: transparent;
    padding: 0rem 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .summary .card-title{
	font-size: 1rem;
}
.nav-header .brand-title {
     margin-left: 0px !important;
}
.action-box{
	margin-bottom: 0;
    padding: 0;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    list-style: none;
    font-size: 1.1875rem;
    flex-direction: row-reverse;
}
.action-box .action-item{
	color: var(--primary);
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.action-box .action-item a{
	padding-left: 20px;
	color: var(--primary);
}
.form-control {
	border: 0.0625rem solid #9599a7 !important;
}
.modal .card {
    margin-bottom: 0;
}
.modal .card-body {
    padding: 1px 1.875rem;
}
.modal form .modal-footer{
	padding: 1rem 0rem;
}
.page-titles{
    padding: 0;
}
.mb-2{
    margin-bottom: 0 !important;
}
li[data-bs-toggle="modal"]{
    cursor: pointer;
}

.settings .card-header{
    justify-content: center;
}
.settings .ico-sparkline div{
    margin: auto; height: 5.3125rem;
    width: 5.3125rem;
    border-radius: 3.125rem;
    padding: 0.625rem 0.75rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #464a53;
    min-width: 5.3125rem;
}
#configureModal .configure-content{
    display: flex;
    flex-direction: row;
}
#configureModal .configure-content .left-part{
    width: 50%;
    height: 80vh;
    text-align: right;
    color: white;
}
#configureModal .configure-content .right-part{
    width: 50%;
    height: 80vh;
}
#configureModal form{
    margin-top: 10px;
}
#configureModal form label{
    color: black;
    text-align: left;
    margin-top: 5px;
}
#configureModal .basic-form .modal-footer button{
    width: 100%;
}
#configureModal .left-parent {
    display: flex;
    flex-direction: column;
}
#configureModal .modal-content, #configureModal .modal-dialog{
    height:100%;
    overflow-x: auto;
}
#configureModal table thead th{
    font-size: 10px !important;
    font-weight: 600;
}

#configureModal .dataTables_scrollHeadInner{
    width: 100% !important;
}
#configureModal table[class="display dataTable"], #configureModal .dataTables_scrollFootInner{
    width: 100% !important;
}

    