.card .summary{
	border-color: #f0f1f5;
    position: relative;
    background: transparent;
    padding: 0rem 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .summary .card-title{
	font-size: 1rem;
}
.nav-header .brand-title {
     margin-left: 0px !important;
}
.action-box{
	margin-bottom: 0;
    padding: 0;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    list-style: none;
    font-size: 1.1875rem;
    flex-direction: row-reverse;
}
.action-box .action-item{
	color: var(--primary);
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.action-box .action-item a{
	padding-left: 20px;
	color: var(--primary);
}
.form-control {
	border: 0.0625rem solid #9599a7 !important;
}
.modal .card {
    margin-bottom: 0;
}
.modal .card-body {
    padding: 1px 1.875rem;
}
.modal form .modal-footer{
	padding: 1rem 0rem;
}
.page-titles{
    padding: 0;
}
.mb-2{
    margin-bottom: 0 !important;
}
li[data-bs-toggle="modal"]{
    cursor: pointer;
}

.settings .card-header{
    justify-content: center;
}
.settings .ico-sparkline div{
    margin: auto; height: 5.3125rem;
    width: 5.3125rem;
    border-radius: 3.125rem;
    padding: 0.625rem 0.75rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #464a53;
    min-width: 5.3125rem;
}
#regexModal .configure-content{
    display: flex;
    flex-direction: row;
}
#regexModal .configure-content .left-part{
    width: 50%;
    height: 80vh;
    text-align: right;
    color: white;
}
#regexModal .configure-content .right-part{
    width: 50%;
    height: 80vh;
}
#regexModal form{
    margin-top: 10px;
}
#regexModal form label{
    color: black;
    text-align: left;
    margin-top: 5px;
}
#regexModal .basic-form .modal-footer button{
    width: 100%;
}
#regexModal .left-parent {
    display: flex;
    flex-direction: column;
}
#regexModal .modal-content, #regexModal .modal-dialog{
    height:100%;
    overflow-x: auto;
}
#regexModal table thead th{
    font-size: 10px !important;
    font-weight: 600;
}

#regexModal .dataTables_scrollHeadInner{
    width: 100% !important;
}
#regexModal table[class="display dataTable"], #regexModal .dataTables_scrollFootInner{
    width: 100% !important;
}
#green-round{
width:25px;
height:25px;
border-radius: 50%;
background-color:#4bca6f;
position:relative;
transform:rotate(45deg);
-webkit-animation:example 0.3s linear 1s infinite alternate ;
z-index:0;
}
#red-round{
width:25px;
height:25px;
border-radius: 50%;
background-color:red;
position:relative;
transform:rotate(45deg);
-webkit-animation:example 0.3s linear 1s infinite alternate ;
z-index:0;
}
@-webkit-keyframes example{
0%   { -webkit-transform:scale(1,1) rotate(45deg);box-shadow:0 0 40px rgba(213,9,60,1);}
    100%  {-webkit-transform:scale(1.1,1.1) rotate(45deg);box-shadow:0 0 40px rgba(213,9,60,.6);}
  }

.fs-22 {
    font-size: 10px !important;
}
.fa-info-circle{
  color: #263db1;
}
.order-manage {
    background: #d3e5d8 !important;
}
.port{
  color: #263db1;
}
.popover-header {
    background: #263db1;
}
.popover {
    border: 0.125rem solid #263db1;
}
    