<!--**********************************
    Nav header start
***********************************-->
<div class="nav-header">
    <a href="/" class="brand-logo">
        <img class="brand-title" src="/static/images/inventorius.png" alt="">
        <img class="brand-title" src="/static/images/inventorius-text.png" alt="">
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>
<!--**********************************
    Nav header end
***********************************-->