<!--**********************************
    Sidebar start
***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a href="/" class="ai-icon" aria-expanded="false">
                 <i class="flaticon-381-notepad"></i>
                 <span class="nav-text">Dashboard</span>
              </a>
            </li>
            <li><a href="/environment" class="ai-icon" aria-expanded="false">
                 <i class="flaticon-381-layer-1"></i>
                 <span class="nav-text">Environment</span>
              </a>
            </li>
            <li><a href="/subnet" class="ai-icon" aria-expanded="false">
                 <i class="flaticon-381-networking"></i>
                 <span class="nav-text">Subnet</span>
              </a>
            </li>
            <li><a href="/settings" class="ai-icon" aria-expanded="false">
                 <i class="flaticon-381-settings-2"></i>
                 <span class="nav-text">Settings</span>
              </a>
            </li>
           
        </ul>
    </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->